 NODE ENV
NODE_ENV = development

# PORT
PORT = 3000

# DATABASE

MONGO_URI=mongodb://mongo:27017/dev
# DB_HOST = mongo
DB_HOST = 127.0.0.1
DB_PORT = 27017
DB_DATABASE = dev




# TOKEN
SECRET_KEY = secretKey

# LOG
LOG_FORMAT = dev
LOG_DIR = ../logs

# CORS
ORIGIN = http://localhost:3001
CREDENTIALS = true


# ADMIN CREDENTIALS
ADMIN_EMAIL = mouhamed.abbassi@esprit.tn

ADMIN_PASSWORD = Password1!
ADMIN_USERNAME=admin
ADMIN_PHONE=50922140

# ELASTIC EMAIL SMTP SETTINGS
SMTP_HOST=smtp.elasticemail.com
SMTP_PORT=2525
SMTP_USER=
SMTP_PASS=
SMTP_FROM=


# CLOUDFLARE R2
R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET_NAME=
R2_PUBLIC_URL=
REFRESH_TOKEN_SECRET = 

# GOOGLE OAUTH
GOOGLE_CLIENT_ID = 
GOOGLE_CLIENT_SECRET = 
GOOGLE_REDIRECT_URI = 
 