swagger: "2.0"
info:
  title: Frame Beauty API
  version: 1.1.7
  description: |
    **Frame Beauty** — Enterprise backend API for the Frame Beauty salon & booking platform.

    Frame Beauty powers lounge & salon management, booking, queue management,
    social content sharing, and discovery.

    ## Authentication
    Most endpoints require a Bearer token in the `Authorization` header.
    Tokens are obtained via `/v1/auth/login` or Google OAuth.
    Access tokens expire in **15 minutes**. Use `/v1/auth/refresh-token` to rotate.

    ## CSRF Protection
    Mutating endpoints (POST, PUT, PATCH, DELETE) require a CSRF token
    in the `X-CSRF-Token` header when using cookie-based authentication.

    ## Rate Limiting
    Sensitive endpoints are rate-limited per IP:
    | Endpoint | Limit |
    |----------|-------|
    | Login | 10 / 15 min |
    | Signup | 5 / hour |
    | Forgot Password | 3 / 15 min |
    | Change Password | 5 / 15 min |
    | Content creation | 10 / hour |
    | Likes & follows | 30 / min |
    | Comments | 20 / min |
    | Reports | 5 / hour |

    ## Account Security
    - Accounts lock after **5 failed login attempts** for 15 minutes
    - Blocked accounts cannot authenticate or refresh tokens
    - Password changes invalidate **all** existing sessions
    - Refresh tokens are rotated on every use (one-time use)

    ## Error Format
    ```json
    { "message": "Human-readable message", "code": "ERROR_CODE" }
    ```

    ### Common Error Codes
    | Code | Meaning |
    |------|---------|
    | INVALID_CREDENTIALS | Wrong email/phone or password |
    | ACCOUNT_LOCKED | Too many failed attempts  -  locked 15 min |
    | ACCOUNT_BLOCKED | Account disabled by admin |
    | EMAIL_EXISTS | Email already registered |
    | INVALID_TOKEN | Expired or invalid token |
    | VALIDATION_ERROR | Request body failed validation |
  termsOfService: https://framebeauty.com/terms
  contact:
    name: Frame Beauty Team
    url: https://github.com/Frame-Ecosystem
    email: api@framebeauty.com
  license:
    name: ISC
    url: https://opensource.org/licenses/ISC

host: api.framebeauty.com
basePath: /
schemes:
  - https
  - http
consumes:
  - application/json
produces:
  - application/json

securityDefinitions:
  bearerAuth:
    type: apiKey
    name: Authorization
    in: header
    description: "JWT access token. Format: `Bearer <token>`"
  csrfToken:
    type: apiKey
    name: X-CSRF-Token
    in: header
    description: CSRF protection token required for mutating operations with cookie auth

tags:
  - name: health
    description: Service health and readiness probes
  - name: auth
    description: Authentication, registration, password management, and Google OAuth
  - name: admin
    description: Admin-only user management  -  CRUD, block/unblock users
  - name: admin-services
    description: Admin dashboard, system health, audit logs, and advanced user tools
  - name: current-user
    description: Authenticated user profile, settings, and account management
  - name: clients
    description: Client browsing  -  view lounges, profiles, and lounge services
  - name: agents
    description: Agent (lounge employee) management
  - name: lounges
    description: Lounge-owner-specific operations
  - name: lounge-services
    description: Lounge service CRUD, pricing, scheduling, and profile management
  - name: services
    description: Global service catalog management (admin)
  - name: service-categories
    description: Service category management (admin)
  - name: service-suggestions
    description: Lounge-initiated service suggestions and admin approval workflow
  - name: bookings
    description: Appointment booking, walk-in queue booking, and availability checks
  - name: queues
    description: Daily queue management  -  add, reorder, update status, remove persons
  - name: notifications
    description: Push notifications, device token registration, and read tracking
  - name: ratings
    description: Client-to-lounge rating system (1-5 stars with optional comment)
  - name: likes
    description: Client-to-lounge like/favorite system
  - name: follows
    description: User follow/unfollow social graph
  - name: posts
    description: Image/text post creation, likes, saves, and moderation
  - name: reels
    description: Short video reel creation, likes, saves, and moderation
  - name: comments
    description: Comments and threaded replies on posts and reels
  - name: feed
    description: Content feed, explore, saved content, and hashtag discovery
  - name: reports
    description: Content reporting and admin moderation

# =====================================================================
#  PATHS
# =====================================================================
paths:

  # ==================================================================
  #  HEALTH
  # ==================================================================
  /:
    get:
      tags: [health]
      summary: API root
      operationId: getRoot
      responses:
        200:
          description: API is running
          schema:
            type: object
            properties:
              message:
                type: string
                example: "OK"

  /health:
    get:
      tags: [health]
      summary: Health check
      operationId: getHealth
      responses:
        200:
          description: Service is healthy
          schema:
            type: object
            properties:
              status:
                type: string
                example: "OK"
              uptime:
                type: number
                example: 12345.67
              timestamp:
                type: string
                format: date-time

  /ready:
    get:
      tags: [health]
      summary: Readiness probe
      operationId: getReady
      description: Verifies database connectivity and service readiness.
      responses:
        200:
          description: Service is ready
          schema:
            type: object
            properties:
              status:
                type: string
                example: "ready"
        503:
          description: Service not ready (e.g. database disconnected)

  # ==================================================================
  #  AUTH
  # ==================================================================
  /v1/auth/signup:
    post:
      tags: [auth]
      summary: Register a new user
      operationId: signUp
      description: |
        Creates a new account and sends a verification email with a magic link.
        Rate limited to **5 per hour per IP**.
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateUserDto'
      responses:
        201:
          description: Registration successful  -  verification email sent
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/UserResponse'
              message:
                type: string
                example: "Signup successful"
        400:
          description: Validation error
          schema:
            $ref: '#/definitions/ErrorResponse'
        409:
          description: Email already registered
          schema:
            $ref: '#/definitions/ErrorResponse'
        429:
          description: Too many signup attempts
        500:
          description: Server error

  /v1/auth/verify:
    get:
      tags: [auth]
      summary: Verify email via magic link
      operationId: verifyMagicLink
      description: Verifies the user's email using the token from the magic link. Rate limited.
      parameters:
        - name: token
          in: query
          required: true
          type: string
          description: Verification token from the email magic link
      responses:
        200:
          description: Email verified successfully
          schema:
            type: object
            properties:
              message:
                type: string
                example: "Email verified successfully"
        400:
          description: Invalid or expired verification token
          schema:
            $ref: '#/definitions/ErrorResponse'
        429:
          description: Too many verification attempts
        500:
          description: Server error

  /v1/auth/login:
    post:
      tags: [auth]
      summary: Log in
      operationId: logIn
      description: |
        Authenticate with email or phone number and password.

        **Security:**
        - Account locks after 5 failed attempts for 15 minutes
        - Blocked accounts are rejected
        - Rate limited: 10 per 15 min per IP

        **Token delivery:**
        - **Web:** Refresh token set as `httpOnly` cookie; access token in body
        - **Mobile:** Both tokens returned in response body
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/LoginUserDto'
      responses:
        200:
          description: Login successful
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  accessToken:
                    type: string
                    description: JWT access token (15 min expiry)
                    example: "eyJhbGciOiJIUzI1NiIs..."
                  refreshToken:
                    type: string
                    description: Refresh token (in body for mobile; also set as httpOnly cookie)
                  user:
                    $ref: '#/definitions/UserResponse'
              message:
                type: string
                example: "Login successful"
          headers:
            Set-Cookie:
              type: string
              description: "refreshToken=<token>; HttpOnly; Secure; SameSite=Strict; Path=/v1/auth"
        401:
          description: Invalid credentials
          schema:
            $ref: '#/definitions/ErrorResponse'
        403:
          description: Account locked or blocked
          schema:
            $ref: '#/definitions/ErrorResponse'
        429:
          description: Too many login attempts
        500:
          description: Server error

  /v1/auth/logout:
    post:
      tags: [auth]
      summary: Log out current session
      operationId: logOut
      description: Invalidates the current refresh token and clears the cookie.
      security:
        - bearerAuth: []
      responses:
        200:
          description: Logged out successfully
          schema:
            type: object
            properties:
              message:
                type: string
                example: "Logged out successfully"
        401:
          description: Unauthorized
        500:
          description: Server error

  /v1/auth/logout-all:
    post:
      tags: [auth]
      summary: Log out all devices
      operationId: logOutAllDevices
      description: Invalidates **all** refresh tokens for the user, logging out every device.
      security:
        - bearerAuth: []
      responses:
        200:
          description: All sessions invalidated
          schema:
            type: object
            properties:
              message:
                type: string
                example: "All sessions invalidated"
        401:
          description: Unauthorized
        500:
          description: Server error

  /v1/auth/refresh-token:
    post:
      tags: [auth]
      summary: Refresh access token
      operationId: refreshToken
      description: |
        Exchange a valid refresh token for a new access token and rotated refresh token.

        **Web:** Reads refresh token from `httpOnly` cookie.
        **Mobile:** Reads from `refreshToken` field in request body.

        Blocked users are rejected.
      parameters:
        - name: body
          in: body
          required: false
          schema:
            type: object
            properties:
              refreshToken:
                type: string
                description: Refresh token (for mobile clients without cookie support)
      responses:
        200:
          description: Token refreshed
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  accessToken:
                    type: string
                    example: "eyJhbGciOiJIUzI1NiIs..."
                  refreshToken:
                    type: string
                    description: Rotated refresh token (body for mobile, cookie for web)
              message:
                type: string
                example: "Token refreshed"
          headers:
            Set-Cookie:
              type: string
              description: New rotated refresh token cookie
        401:
          description: Invalid or expired refresh token
        403:
          description: Account blocked
          schema:
            $ref: '#/definitions/ErrorResponse'
        500:
          description: Server error

  /v1/auth/forgot-password:
    post:
      tags: [auth]
      summary: Request password reset email
      operationId: forgotPassword
      description: |
        Sends a password reset link to the email address. Always returns success
        to prevent email enumeration. Rate limited: **3 per 15 min per IP**.
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ForgotPasswordDto'
      responses:
        200:
          description: Success (always returned regardless of email existence)
          schema:
            type: object
            properties:
              message:
                type: string
                example: "If an account with that email exists, a password reset link has been sent"
        429:
          description: Too many password reset requests
        500:
          description: Server error

  /v1/auth/reset-password:
    post:
      tags: [auth]
      summary: Reset password with token
      operationId: resetPassword
      description: |
        Resets the password using the token from the forgot-password email.
        Invalidates **all** existing sessions after reset.

        Password: 8-128 chars, uppercase, lowercase, number, special character (`@$!%*?&`).
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ResetPasswordDto'
      responses:
        200:
          description: Password reset  -  all sessions invalidated
          schema:
            type: object
            properties:
              message:
                type: string
                example: "Password reset successfully"
        400:
          description: Invalid/expired token or weak password
          schema:
            $ref: '#/definitions/ErrorResponse'
        500:
          description: Server error

  /v1/auth/google/login:
    get:
      tags: [auth]
      summary: Google OAuth login
      operationId: googleLogin
      description: Redirects to Google OAuth consent screen for existing user login.
      responses:
        302:
          description: Redirect to Google OAuth

  /v1/auth/google/signup:
    get:
      tags: [auth]
      summary: Google OAuth signup
      operationId: googleSignup
      description: Redirects to Google OAuth consent screen for new user registration.
      responses:
        302:
          description: Redirect to Google OAuth

  /v1/auth/google/callback:
    get:
      tags: [auth]
      summary: Google OAuth callback
      operationId: googleAuthCallback
      description: |
        Handles the OAuth callback from Google. On success, issues tokens and
        redirects to the frontend. Blocked users are rejected.
      parameters:
        - name: code
          in: query
          type: string
          description: OAuth authorization code from Google
      responses:
        302:
          description: Redirect to frontend with tokens
        401:
          description: Authentication failed
        403:
          description: Account blocked

  # ==================================================================
  #  ADMIN  -  User Management
  # ==================================================================
  /v1/admin/users:
    get:
      tags: [admin]
      summary: Get all users
      operationId: adminGetUsers
      description: Retrieve all users in the system. Admin only.
      security:
        - bearerAuth: []
      responses:
        200:
          description: Users retrieved
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/UserResponse'
              count:
                type: integer
                example: 42
              message:
                type: string
                example: "findAll"
        401:
          description: Unauthorized
        403:
          description: Forbidden  -  admin only
        500:
          description: Server error
    post:
      tags: [admin]
      summary: Create a user (admin)
      operationId: adminCreateUser
      description: Admin creates a user with a specified type (user, client, lounge, admin).
      security:
        - bearerAuth: []
        - csrfToken: []
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AdminCreateUserDto'
      responses:
        201:
          description: User created
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/UserResponse'
              message:
                type: string
                example: "User created successfully"
        400:
          description: Validation error
        401:
          description: Unauthorized
        403:
          description: Forbidden  -  admin only
        409:
          description: Email already exists
        500:
          description: Server error

  /v1/admin/users/{id}:
    get:
      tags: [admin]
      summary: Get user by ID
      operationId: adminGetUserById
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          type: string
          description: User ID
      responses:
        200:
          description: User retrieved
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/UserResponse'
              message:
                type: string
        401:
          description: Unauthorized
        403:
          description: Forbidden  -  admin only
        404:
          description: User not found
        500:
          description: Server error
    put:
      tags: [admin]
      summary: Update user (admin)
      operationId: adminUpdateUser
      security:
        - bearerAuth: []
        - csrfToken: []
      parameters:
        - name: id
          in: path
          required: true
          type: string
          description: User ID
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateUserDto'
      responses:
        200:
          description: User updated
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/UserResponse'
              message:
                type: string
        400:
          description: Validation error
        401:
          description: Unauthorized
        403:
          description: Forbidden  -  admin only
        404:
          description: User not found
        500:
          description: Server error
    delete:
      tags: [admin]
      summary: Delete user (admin)
      operationId: adminDeleteUser
      security:
        - bearerAuth: []
        - csrfToken: []
      parameters:
        - name: id
          in: path
          required: true
          type: string
          description: User ID
      responses:
        200:
          description: User deleted
          schema:
            type: object
            properties:
              message:
                type: string
                example: "User deleted successfully"
        401:
          description: Unauthorized
        403:
          description: Forbidden  -  admin only
        404:
          description: User not found
        500:
          description: Server error

  /v1/admin/users/{id}/block:
    patch:
      tags: [admin]
      summary: Block or unblock user
      operationId: adminChangeUserBlockedState
      description: Toggle a user's blocked state. Blocked users cannot authenticate.
      security:
        - bearerAuth: []
        - csrfToken: []
      parameters:
        - name: id
          in: path
          required: true
          type: string
          description: User ID
      responses:
        200:
          description: User block state changed
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/UserResponse'
              message:
                type: string
                example: "User blocked successfully"
        401:
          description: Unauthorized
        403:
          description: Forbidden  -  admin only
        404:
          description: User not found
        500:
          description: Server error

  /v1/admin/session-info:
    get:
      tags: [admin]
      summary: Get online users
      operationId: adminGetOnlineUsers
      description: Retrieve currently online users and their session information.
      security:
        - bearerAuth: []
      responses:
        200:
          description: Online users retrieved
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/OnlineUserInfo'
              count:
                type: integer
              message:
                type: string
        401:
          description: Unauthorized
        403:
          description: Forbidden  -  admin only
        500:
          description: Server error

  /v1/admin/lounges/names:
    get:
      tags: [admin]
      summary: Get all lounge names
      operationId: adminGetAllLoungeNames
      description: Retrieve a lightweight list of all lounges (ID + name only). Useful for dropdowns.
      security:
        - bearerAuth: []
      responses:
        200:
          description: Lounge names retrieved
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  type: object
                  properties:
                    _id:
                      type: string
                    loungeTitle:
                      type: string
                      example: "Elite Hair Salon"
              count:
                type: integer
              message:
                type: string
        401:
          description: Unauthorized
        403:
          description: Forbidden  -  admin only
        500:
          description: Server error

  # ==================================================================
  #  ADMIN SERVICES  -  Dashboard & Tools
  # ==================================================================
  /v1/admin-services/stats:
    get:
      tags: [admin-services]
      summary: Get admin service stats
      operationId: adminGetStats
      security:
        - bearerAuth: []
      responses:
        200:
          description: Stats retrieved
          schema:
            type: object
            properties:
              data:
                type: object
              message:
                type: string
        401:
          description: Unauthorized
        403:
          description: Forbidden  -  admin only
        500:
          description: Server error

  /v1/admin-services/health:
    get:
      tags: [admin-services]
      summary: Get system health details
      operationId: adminGetSystemHealth
      description: Detailed system health including database status, memory usage, and uptime.
      security:
        - bearerAuth: []
      responses:
        200:
          description: System health retrieved
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  database:
                    type: string
                    example: "connected"
                  memoryUsage:
                    type: object
                  uptime:
                    type: number
              message:
                type: string
        401:
          description: Unauthorized
        403:
          description: Forbidden  -  admin only
        500:
          description: Server error

  /v1/admin-services/activity-log:
    get:
      tags: [admin-services]
      summary: Get user activity log
      operationId: adminGetActivityLog
      security:
        - bearerAuth: []
      responses:
        200:
          description: Activity log retrieved
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  type: object
              message:
                type: string
        401:
          description: Unauthorized
        403:
          description: Forbidden  -  admin only
        500:
          description: Server error

  /v1/admin-services/dashboard:
    get:
      tags: [admin-services]
      summary: Get dashboard statistics
      operationId: adminGetDashboard
      description: Aggregate dashboard stats  -  user counts, booking counts, revenue, etc.
      security:
        - bearerAuth: []
      responses:
        200:
          description: Dashboard stats retrieved
          schema:
            type: object
            properties:
              data:
                type: object
              message:
                type: string
        401:
          description: Unauthorized
        403:
          description: Forbidden  -  admin only
        500:
          description: Server error

  /v1/admin-services/users/{userId}/clear-sessions:
    post:
      tags: [admin-services]
      summary: Clear all sessions for a user
      operationId: adminClearUserSessions
      description: Invalidates all refresh tokens for the specified user, forcing re-login on all devices.
      security:
        - bearerAuth: []
        - csrfToken: []
      parameters:
        - name: userId
          in: path
          required: true
          type: string
          description: Target user ID
      responses:
        200:
          description: Sessions cleared
          schema:
            type: object
            properties:
              message:
                type: string
                example: "User sessions cleared"
        401:
          description: Unauthorized
        403:
          description: Forbidden  -  admin only
        404:
          description: User not found
        500:
          description: Server error

  /v1/admin-services/users/{userId}/reset-password:
    post:
      tags: [admin-services]
      summary: Admin reset user password
      operationId: adminResetUserPassword
      description: Resets a user's password and sends them a notification.
      security:
        - bearerAuth: []
        - csrfToken: []
      parameters:
        - name: userId
          in: path
          required: true
          type: string
          description: Target user ID
      responses:
        200:
          description: Password reset
          schema:
            type: object
            properties:
              message:
                type: string
                example: "User password has been reset"
        401:
          description: Unauthorized
        403:
          description: Forbidden  -  admin only
        404:
          description: User not found
        500:
          description: Server error

  /v1/admin-services/users/{userId}/export:
    get:
      tags: [admin-services]
      summary: Export user data
      operationId: adminExportUserData
      description: Export all data associated with a user (profile, bookings, activity).
      security:
        - bearerAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          type: string
          description: Target user ID
      responses:
        200:
          description: User data exported
          schema:
            type: object
            properties:
              data:
                type: object
              message:
                type: string
        401:
          description: Unauthorized
        403:
          description: Forbidden  -  admin only
        404:
          description: User not found
        500:
          description: Server error

  /v1/admin-services/audit-log:
    post:
      tags: [admin-services]
      summary: Create audit log entry
      operationId: adminCreateAuditLog
      security:
        - bearerAuth: []
        - csrfToken: []
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              action:
                type: string
                description: Action performed
                example: "USER_BLOCKED"
              details:
                type: string
                description: Details about the action
      responses:
        201:
          description: Audit log created
          schema:
            type: object
            properties:
              message:
                type: string
        401:
          description: Unauthorized
        403:
          description: Forbidden  -  admin only
        500:
          description: Server error

  # ==================================================================
  #  CURRENT USER  -  /v1/me
  # ==================================================================
  /v1/me:
    get:
      tags: [current-user]
      summary: Get current user profile
      operationId: getMe
      security:
        - bearerAuth: []
      responses:
        200:
          description: Profile retrieved
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/UserResponse'
              message:
                type: string
                example: "User profile retrieved"
        401:
          description: Unauthorized
        500:
          description: Server error
    put:
      tags: [current-user]
      summary: Update current user profile
      operationId: updateMe
      description: Update profile fields. Password cannot be changed through this endpoint.
      security:
        - bearerAuth: []
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateUserDto'
      responses:
        200:
          description: Profile updated
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/UserResponse'
              message:
                type: string
        400:
          description: Validation error
        401:
          description: Unauthorized
        500:
          description: Server error
    delete:
      tags: [current-user]
      summary: Delete own account
      operationId: deleteMe
      description: Permanently deletes the account. Requires password confirmation.
      security:
        - bearerAuth: []
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteAccountDto'
      responses:
        200:
          description: Account deleted
          schema:
            type: object
            properties:
              message:
                type: string
                example: "Account deleted successfully"
        400:
          description: Incorrect password
        401:
          description: Unauthorized
        500:
          description: Server error

  /v1/me/change-password:
    post:
      tags: [current-user]
      summary: Change password
      operationId: changePassword
      description: |
        Changes the current user's password. Requires current password confirmation.
        Invalidates all other sessions. Sets `passwordChangedAt` timestamp.
        Rate limited: **5 per 15 min**.
      security:
        - bearerAuth: []
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ChangePasswordDto'
      responses:
        200:
          description: Password changed  -  other sessions invalidated
          schema:
            type: object
            properties:
              message:
                type: string
                example: "Password changed successfully"
        400:
          description: Current password incorrect or new password too weak
        401:
          description: Unauthorized
        429:
          description: Too many attempts
        500:
          description: Server error

  /v1/me/location:
    put:
      tags: [current-user]
      summary: Update location
      operationId: updateLocation
      security:
        - bearerAuth: []
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/LocationDto'
      responses:
        200:
          description: Location updated
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/UserResponse'
              message:
                type: string
        400:
          description: Validation error
        401:
          description: Unauthorized
        500:
          description: Server error

  /v1/me/image:
    put:
      tags: [current-user]
      summary: Upload profile image
      operationId: uploadProfileImage
      consumes:
        - multipart/form-data
      security:
        - bearerAuth: []
      parameters:
        - name: image
          in: formData
          required: true
          type: file
          description: Image file (JPEG, PNG)
      responses:
        200:
          description: Profile image uploaded
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/UserResponse'
              message:
                type: string
        400:
          description: No file provided or invalid format
        401:
          description: Unauthorized
        500:
          description: Server error

  /v1/me/cover-image:
    put:
      tags: [current-user]
      summary: Upload cover image
      operationId: uploadCoverImage
      consumes:
        - multipart/form-data
      security:
        - bearerAuth: []
      parameters:
        - name: coverImage
          in: formData
          required: true
          type: file
          description: Cover image file (JPEG, PNG)
      responses:
        200:
          description: Cover image uploaded
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/UserResponse'
              message:
                type: string
        400:
          description: No file provided or invalid format
        401:
          description: Unauthorized
        500:
          description: Server error

  /v1/me/client:
    put:
      tags: [current-user]
      summary: Update client profile
      operationId: updateClientProfile
      description: Update client-specific fields (firstName, lastName).
      security:
        - bearerAuth: []
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateClientProfileDto'
      responses:
        200:
          description: Client profile updated
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/UserResponse'
              message:
                type: string
        400:
          description: Validation error
        401:
          description: Unauthorized
        500:
          description: Server error

  /v1/me/theme:
    put:
      tags: [current-user]
      summary: Update theme preference
      operationId: updateTheme
      security:
        - bearerAuth: []
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateThemeDto'
      responses:
        200:
          description: Theme updated
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/UserResponse'
              message:
                type: string
        400:
          description: Validation error
        401:
          description: Unauthorized
        500:
          description: Server error

  /v1/me/language:
    put:
      tags: [current-user]
      summary: Update language preference
      operationId: updateLanguage
      description: Update the authenticated user's language preference (e.g. 'en', 'ar', 'fr').
      security:
        - bearerAuth: []
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateLanguageDto'
      responses:
        200:
          description: Language updated
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/UserResponse'
              message:
                type: string
        400:
          description: Validation error
        401:
          description: Unauthorized
        500:
          description: Server error

  /v1/me/send-verification-code:
    post:
      tags: [current-user]
      summary: Send email verification code
      operationId: sendVerificationCode
      description: Sends a verification code to the user's email for email verification.
      responses:
        200:
          description: Verification code sent
          schema:
            type: object
            properties:
              message:
                type: string
                example: "Verification code sent"
        400:
          description: Email already verified or invalid
        500:
          description: Server error

  /v1/me/verify-email:
    post:
      tags: [current-user]
      summary: Verify email with code
      operationId: verifyEmailCode
      description: Verify the user's email address using the code received via email.
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/VerifyEmailCodeDto'
      responses:
        200:
          description: Email verified
          schema:
            type: object
            properties:
              message:
                type: string
                example: "Email verified successfully"
        400:
          description: Invalid or expired code
        500:
          description: Server error

  # ==================================================================
  #  CLIENTS  -  Browsing
  # ==================================================================
  /v1/client/lounges:
    get:
      tags: [clients]
      summary: Get all lounges
      operationId: clientGetAllLounges
      description: Browse all lounge profiles visible to clients.
      security:
        - bearerAuth: []
      responses:
        200:
          description: Lounges retrieved
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/LoungePublicProfile'
              count:
                type: integer
              message:
                type: string
        401:
          description: Unauthorized
        500:
          description: Server error

  /v1/client/lounges/{loungeId}:
    get:
      tags: [clients]
      summary: Get lounge by ID
      operationId: clientGetLoungeById
      security:
        - bearerAuth: []
      parameters:
        - name: loungeId
          in: path
          required: true
          type: string
          description: Lounge user ID
      responses:
        200:
          description: Lounge retrieved
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/LoungePublicProfile'
              message:
                type: string
        401:
          description: Unauthorized
        404:
          description: Lounge not found
        500:
          description: Server error

  /v1/client/lounges/{loungeId}/services:
    get:
      tags: [clients]
      summary: Get lounge services
      operationId: clientGetLoungeServices
      description: Retrieve all active services offered by a specific lounge.
      security:
        - bearerAuth: []
      parameters:
        - name: loungeId
          in: path
          required: true
          type: string
          description: Lounge user ID
      responses:
        200:
          description: Lounge services retrieved
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/LoungeServiceResponse'
              count:
                type: integer
              message:
                type: string
        401:
          description: Unauthorized
        404:
          description: Lounge not found
        500:
          description: Server error

  /v1/client/services/{serviceId}/lounges:
    get:
      tags: [clients]
      summary: Get lounges offering a service
      operationId: clientGetLoungesByService
      description: Find all lounges that offer a specific service.
      security:
        - bearerAuth: []
      parameters:
        - name: serviceId
          in: path
          required: true
          type: string
          description: Service ID
      responses:
        200:
          description: Lounges retrieved
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/LoungePublicProfile'
              count:
                type: integer
              message:
                type: string
        401:
          description: Unauthorized
        500:
          description: Server error

  /v1/client/profile/{clientId}:
    get:
      tags: [clients]
      summary: Get client profile
      operationId: clientGetProfile
      security:
        - bearerAuth: []
      parameters:
        - name: clientId
          in: path
          required: true
          type: string
          description: Client user ID
      responses:
        200:
          description: Client profile retrieved
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/UserResponse'
              message:
                type: string
        401:
          description: Unauthorized
        404:
          description: Client not found
        500:
          description: Server error

  /v1/client/profile/{clientId}/bookings:
    get:
      tags: [clients]
      summary: Get client bookings
      operationId: clientGetBookings
      security:
        - bearerAuth: []
      parameters:
        - name: clientId
          in: path
          required: true
          type: string
          description: Client user ID
      responses:
        200:
          description: Client bookings retrieved
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/Booking'
              count:
                type: integer
              message:
                type: string
        401:
          description: Unauthorized
        404:
          description: Client not found
        500:
          description: Server error

  /v1/client/profile/{clientId}/likes:
    get:
      tags: [clients]
      summary: Get client liked lounges
      operationId: clientGetLikedLounges
      security:
        - bearerAuth: []
      parameters:
        - name: clientId
          in: path
          required: true
          type: string
          description: Client user ID
      responses:
        200:
          description: Liked lounges retrieved
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/Like'
              count:
                type: integer
              message:
                type: string
        401:
          description: Unauthorized
        500:
          description: Server error

  /v1/client/profile/{clientId}/ratings:
    get:
      tags: [clients]
      summary: Get client ratings
      operationId: clientGetRatings
      security:
        - bearerAuth: []
      parameters:
        - name: clientId
          in: path
          required: true
          type: string
          description: Client user ID
      responses:
        200:
          description: Client ratings retrieved
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/Rating'
              count:
                type: integer
              message:
                type: string
        401:
          description: Unauthorized
        500:
          description: Server error

  # ==================================================================
  #  AGENTS
  # ==================================================================
  /v1/agents:
    get:
      tags: [agents]
      summary: Get all agents
      operationId: getAllAgents
      description: Admins see all agents, lounges see their own agents.
      security:
        - bearerAuth: []
      responses:
        200:
          description: Agents retrieved
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/Agent'
              count:
                type: integer
              message:
                type: string
        401:
          description: Unauthorized
        403:
          description: Forbidden
        500:
          description: Server error
    post:
      tags: [agents]
      summary: Create agent
      operationId: createAgent
      description: |
        Create a new agent. Supports both file upload and JSON body.
        Admins must specify `loungeId`; lounges create agents for themselves.
      security:
        - bearerAuth: []
        - csrfToken: []
      consumes:
        - multipart/form-data
        - application/json
      parameters:
        - name: agentName
          in: formData
          required: true
          type: string
          description: Unique agent name identifier
        - name: password
          in: formData
          required: true
          type: string
          description: Agent password
        - name: loungeId
          in: formData
          required: false
          type: string
          description: Lounge ID (required for admins)
        - name: isBlocked
          in: formData
          required: false
          type: boolean
          description: Block state (default false)
        - name: image
          in: formData
          required: false
          type: file
          description: Profile image file
      responses:
        201:
          description: Agent created
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/Agent'
              message:
                type: string
        400:
          description: Validation error
        401:
          description: Unauthorized
        403:
          description: Forbidden  -  admin or lounge only
        409:
          description: Agent name already exists
        500:
          description: Server error

  /v1/agents/{agentId}:
    get:
      tags: [agents]
      summary: Get agent by ID
      operationId: getAgentById
      security:
        - bearerAuth: []
      parameters:
        - name: agentId
          in: path
          required: true
          type: string
      responses:
        200:
          description: Agent retrieved
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/Agent'
              message:
                type: string
        401:
          description: Unauthorized
        404:
          description: Agent not found
        500:
          description: Server error
    put:
      tags: [agents]
      summary: Update agent
      operationId: updateAgent
      security:
        - bearerAuth: []
        - csrfToken: []
      parameters:
        - name: agentId
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateAgentDto'
      responses:
        200:
          description: Agent updated
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/Agent'
              message:
                type: string
        400:
          description: Validation error
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Agent not found
        409:
          description: Agent name already exists
        500:
          description: Server error
    delete:
      tags: [agents]
      summary: Delete agent
      operationId: deleteAgent
      security:
        - bearerAuth: []
        - csrfToken: []
      parameters:
        - name: agentId
          in: path
          required: true
          type: string
      responses:
        200:
          description: Agent deleted
          schema:
            type: object
            properties:
              message:
                type: string
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Agent not found
        500:
          description: Server error

  /v1/agents/{agentId}/image:
    put:
      tags: [agents]
      summary: Upload agent profile image
      operationId: uploadAgentImage
      consumes:
        - multipart/form-data
      security:
        - bearerAuth: []
      parameters:
        - name: agentId
          in: path
          required: true
          type: string
        - name: image
          in: formData
          required: true
          type: file
          description: Image file (JPEG, PNG)
      responses:
        200:
          description: Image uploaded
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/Agent'
              message:
                type: string
        400:
          description: No file or invalid agent ID
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Agent not found
        500:
          description: Server error

  # ==================================================================
  #  LOUNGES  -  Owner Operations
  # ==================================================================
  /v1/lounge/clients/{clientId}:
    get:
      tags: [lounges]
      summary: Get client by ID (lounge context)
      operationId: loungeGetClientById
      description: Lounge owner views a specific client's information.
      security:
        - bearerAuth: []
      parameters:
        - name: clientId
          in: path
          required: true
          type: string
          description: Client user ID
      responses:
        200:
          description: Client retrieved
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/UserResponse'
              message:
                type: string
        401:
          description: Unauthorized
        403:
          description: Forbidden  -  lounge only
        404:
          description: Client not found
        500:
          description: Server error

  /v1/lounge/agents/{agentId}/queue-booking:
    patch:
      tags: [lounges]
      summary: Update agent queue booking
      operationId: loungeUpdateAgentQueueBooking
      description: Lounge owner updates a booking's queue status for one of their agents.
      security:
        - bearerAuth: []
      parameters:
        - name: agentId
          in: path
          required: true
          type: string
          description: Agent ID
      responses:
        200:
          description: Queue booking updated
          schema:
            type: object
            properties:
              data:
                type: object
              message:
                type: string
        401:
          description: Unauthorized
        403:
          description: Forbidden  -  lounge only
        404:
          description: Agent or booking not found
        500:
          description: Server error

  # ==================================================================
  #  LOUNGE SERVICES
  # ==================================================================
  /v1/lounge-services:
    get:
      tags: [lounge-services]
      summary: Get all lounge services
      operationId: getAllLoungeServices
      security:
        - bearerAuth: []
      responses:
        200:
          description: Lounge services retrieved
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/LoungeServiceResponse'
              count:
                type: integer
              message:
                type: string
        401:
          description: Unauthorized
        500:
          description: Server error
    post:
      tags: [lounge-services]
      summary: Create lounge service
      operationId: createLoungeService
      description: Create a new lounge service with optional image upload.
      security:
        - bearerAuth: []
        - csrfToken: []
      consumes:
        - multipart/form-data
        - application/json
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateLoungeServiceDto'
      responses:
        201:
          description: Lounge service created
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/LoungeServiceResponse'
              message:
                type: string
        400:
          description: Validation error
        401:
          description: Unauthorized
        500:
          description: Server error

  /v1/lounge-services/search:
    get:
      tags: [lounge-services]
      summary: Search lounge services
      operationId: searchLoungeServices
      security:
        - bearerAuth: []
      parameters:
        - name: q
          in: query
          required: true
          type: string
          description: Search query
      responses:
        200:
          description: Search results
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/LoungeServiceResponse'
              count:
                type: integer
              message:
                type: string
        401:
          description: Unauthorized
        500:
          description: Server error

  /v1/lounge-services/bulk:
    post:
      tags: [lounge-services]
      summary: Bulk create lounge services
      operationId: bulkCreateLoungeServices
      description: Create multiple lounge services in a single request.
      security:
        - bearerAuth: []
        - csrfToken: []
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              services:
                type: array
                items:
                  $ref: '#/definitions/CreateLoungeServiceDto'
      responses:
        201:
          description: Lounge services created
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/LoungeServiceResponse'
              message:
                type: string
        400:
          description: Validation error
        401:
          description: Unauthorized
        500:
          description: Server error

  /v1/lounge-services/lounge/{loungeId}:
    get:
      tags: [lounge-services]
      summary: Get services by lounge ID
      operationId: getLoungeServicesByLoungeId
      security:
        - bearerAuth: []
      parameters:
        - name: loungeId
          in: path
          required: true
          type: string
          description: Lounge user ID
      responses:
        200:
          description: Lounge services retrieved
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/LoungeServiceResponse'
              count:
                type: integer
              message:
                type: string
        401:
          description: Unauthorized
        500:
          description: Server error

  /v1/lounge-services/{serviceId}:
    get:
      tags: [lounge-services]
      summary: Get lounge service by ID
      operationId: getLoungeServiceById
      security:
        - bearerAuth: []
      parameters:
        - name: serviceId
          in: path
          required: true
          type: string
          description: Lounge service ID
      responses:
        200:
          description: Lounge service retrieved
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/LoungeServiceResponse'
              message:
                type: string
        401:
          description: Unauthorized
        404:
          description: Lounge service not found
        500:
          description: Server error
    put:
      tags: [lounge-services]
      summary: Update lounge service
      operationId: updateLoungeService
      security:
        - bearerAuth: []
        - csrfToken: []
      consumes:
        - multipart/form-data
        - application/json
      parameters:
        - name: serviceId
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateLoungeServiceDto'
      responses:
        200:
          description: Lounge service updated
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/LoungeServiceResponse'
              message:
                type: string
        400:
          description: Validation error
        401:
          description: Unauthorized
        404:
          description: Not found
        500:
          description: Server error
    delete:
      tags: [lounge-services]
      summary: Delete lounge service
      operationId: deleteLoungeService
      security:
        - bearerAuth: []
        - csrfToken: []
      parameters:
        - name: serviceId
          in: path
          required: true
          type: string
      responses:
        200:
          description: Lounge service deleted
          schema:
            type: object
            properties:
              message:
                type: string
        401:
          description: Unauthorized
        404:
          description: Not found
        500:
          description: Server error

  /v1/lounge-services/service-name/{serviceId}:
    get:
      tags: [lounge-services]
      summary: Get service name by ID
      operationId: getServiceNameById
      description: Quick lookup to get a service's display name.
      security:
        - bearerAuth: []
      parameters:
        - name: serviceId
          in: path
          required: true
          type: string
      responses:
        200:
          description: Service name retrieved
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  name:
                    type: string
                    example: "Premium Haircut"
              message:
                type: string
        401:
          description: Unauthorized
        404:
          description: Not found
        500:
          description: Server error

  /v1/lounge-services/{serviceId}/toggle-status:
    patch:
      tags: [lounge-services]
      summary: Toggle lounge service active status
      operationId: toggleLoungeServiceStatus
      security:
        - bearerAuth: []
        - csrfToken: []
      parameters:
        - name: serviceId
          in: path
          required: true
          type: string
      responses:
        200:
          description: Status toggled
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/LoungeServiceResponse'
              message:
                type: string
        401:
          description: Unauthorized
        404:
          description: Not found
        500:
          description: Server error

  /v1/lounge-services/lounge/{loungeId}/opening-hours:
    patch:
      tags: [lounge-services]
      summary: Update lounge opening hours
      operationId: patchLoungeOpeningHours
      description: Partially update opening hours for specific days.
      security:
        - bearerAuth: []
        - csrfToken: []
      parameters:
        - name: loungeId
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DayOpeningHoursDto'
      responses:
        200:
          description: Opening hours updated
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/UserResponse'
              message:
                type: string
        400:
          description: Validation error
        401:
          description: Unauthorized
        500:
          description: Server error

  /v1/lounge-services/lounge/{loungeId}/profile:
    put:
      tags: [lounge-services]
      summary: Update lounge profile
      operationId: updateLoungeProfile
      description: Update lounge title and opening hours.
      security:
        - bearerAuth: []
      parameters:
        - name: loungeId
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateLoungeProfileDto'
      responses:
        200:
          description: Lounge profile updated
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/UserResponse'
              message:
                type: string
        400:
          description: Validation error
        401:
          description: Unauthorized
        500:
          description: Server error

  /v1/lounge-services/lounge/{loungeId}/agents:
    get:
      tags: [lounge-services]
      summary: Get agents for a lounge
      operationId: getAgentsPerLounge
      security:
        - bearerAuth: []
      parameters:
        - name: loungeId
          in: path
          required: true
          type: string
      responses:
        200:
          description: Agents retrieved
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/Agent'
              count:
                type: integer
              message:
                type: string
        401:
          description: Unauthorized
        500:
          description: Server error

  # ==================================================================
  #  SERVICES  -  Catalog (Admin)
  # ==================================================================
  /v1/admin/services:
    get:
      tags: [services]
      summary: Get all services (paginated)
      operationId: getServicesPaginated
      description: Public endpoint  -  no auth required for listing services.
      parameters:
        - name: page
          in: query
          type: integer
          minimum: 1
          default: 1
        - name: limit
          in: query
          type: integer
          minimum: 1
          maximum: 100
          default: 10
      responses:
        200:
          description: Services retrieved
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/ServiceResponse'
              count:
                type: integer
              message:
                type: string
        500:
          description: Server error
    post:
      tags: [services]
      summary: Create service (admin)
      operationId: createService
      security:
        - bearerAuth: []
        - csrfToken: []
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - name
              - categoryId
            properties:
              name:
                type: string
                example: "Premium Haircut"
              categoryId:
                type: string
                description: Service category ID
              description:
                type: string
      responses:
        201:
          description: Service created
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/ServiceResponse'
              message:
                type: string
        400:
          description: Validation error
        401:
          description: Unauthorized
        403:
          description: Forbidden  -  admin only
        409:
          description: Service name already exists
        500:
          description: Server error

  /v1/admin/services/search:
    get:
      tags: [services]
      summary: Search services
      operationId: searchServices
      security:
        - bearerAuth: []
      parameters:
        - name: q
          in: query
          required: true
          type: string
      responses:
        200:
          description: Search results
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/ServiceResponse'
              count:
                type: integer
              message:
                type: string
        401:
          description: Unauthorized
        500:
          description: Server error

  /v1/admin/services/bulk:
    post:
      tags: [services]
      summary: Bulk create services (admin)
      operationId: bulkCreateServices
      security:
        - bearerAuth: []
        - csrfToken: []
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              services:
                type: array
                items:
                  type: object
                  required:
                    - name
                    - categoryId
                  properties:
                    name:
                      type: string
                    categoryId:
                      type: string
                    description:
                      type: string
      responses:
        201:
          description: Services created
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/ServiceResponse'
              message:
                type: string
        400:
          description: Validation error
        401:
          description: Unauthorized
        403:
          description: Forbidden  -  admin only
        500:
          description: Server error

  /v1/admin/services/category/{categoryId}:
    get:
      tags: [services]
      summary: Get services by category
      operationId: getServicesByCategory
      security:
        - bearerAuth: []
      parameters:
        - name: categoryId
          in: path
          required: true
          type: string
      responses:
        200:
          description: Services retrieved
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/ServiceResponse'
              count:
                type: integer
              message:
                type: string
        401:
          description: Unauthorized
        500:
          description: Server error

  /v1/admin/services/{serviceId}:
    get:
      tags: [services]
      summary: Get service by ID
      operationId: getServiceById
      security:
        - bearerAuth: []
      parameters:
        - name: serviceId
          in: path
          required: true
          type: string
      responses:
        200:
          description: Service retrieved
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/ServiceResponse'
              message:
                type: string
        401:
          description: Unauthorized
        404:
          description: Service not found
        500:
          description: Server error
    put:
      tags: [services]
      summary: Update service (admin)
      operationId: updateService
      security:
        - bearerAuth: []
        - csrfToken: []
      parameters:
        - name: serviceId
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              name:
                type: string
              categoryId:
                type: string
              description:
                type: string
      responses:
        200:
          description: Service updated
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/ServiceResponse'
              message:
                type: string
        400:
          description: Validation error
        401:
          description: Unauthorized
        403:
          description: Forbidden  -  admin only
        404:
          description: Service not found
        500:
          description: Server error
    delete:
      tags: [services]
      summary: Delete service (admin)
      operationId: deleteService
      security:
        - bearerAuth: []
        - csrfToken: []
      parameters:
        - name: serviceId
          in: path
          required: true
          type: string
      responses:
        200:
          description: Service deleted
          schema:
            type: object
            properties:
              message:
                type: string
        401:
          description: Unauthorized
        403:
          description: Forbidden  -  admin only
        404:
          description: Service not found
        500:
          description: Server error

  # ==================================================================
  #  SERVICE CATEGORIES
  # ==================================================================
  /v1/admin/service-categories:
    get:
      tags: [service-categories]
      summary: Get all service categories
      operationId: getAllServiceCategories
      security:
        - bearerAuth: []
      responses:
        200:
          description: Categories retrieved
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/ServiceCategoryResponse'
              count:
                type: integer
              message:
                type: string
        401:
          description: Unauthorized
        500:
          description: Server error
    post:
      tags: [service-categories]
      summary: Create service category (admin)
      operationId: createServiceCategory
      security:
        - bearerAuth: []
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - name
            properties:
              name:
                type: string
                example: "Haircuts"
              description:
                type: string
                example: "Various haircut services"
      responses:
        201:
          description: Category created
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/ServiceCategoryResponse'
              message:
                type: string
        400:
          description: Validation error
        401:
          description: Unauthorized
        403:
          description: Forbidden  -  admin only
        409:
          description: Category name already exists
        500:
          description: Server error

  /v1/admin/service-categories/search:
    get:
      tags: [service-categories]
      summary: Search service categories
      operationId: searchServiceCategories
      security:
        - bearerAuth: []
      parameters:
        - name: q
          in: query
          required: true
          type: string
      responses:
        200:
          description: Search results
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/ServiceCategoryResponse'
              count:
                type: integer
              message:
                type: string
        401:
          description: Unauthorized
        500:
          description: Server error

  /v1/admin/service-categories/{categoryId}:
    get:
      tags: [service-categories]
      summary: Get service category by ID
      operationId: getServiceCategoryById
      security:
        - bearerAuth: []
      parameters:
        - name: categoryId
          in: path
          required: true
          type: string
      responses:
        200:
          description: Category retrieved
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/ServiceCategoryResponse'
              message:
                type: string
        401:
          description: Unauthorized
        404:
          description: Category not found
        500:
          description: Server error
    put:
      tags: [service-categories]
      summary: Update service category (admin)
      operationId: updateServiceCategory
      security:
        - bearerAuth: []
      parameters:
        - name: categoryId
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              name:
                type: string
              description:
                type: string
      responses:
        200:
          description: Category updated
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/ServiceCategoryResponse'
              message:
                type: string
        400:
          description: Validation error
        401:
          description: Unauthorized
        403:
          description: Forbidden  -  admin only
        404:
          description: Category not found
        409:
          description: Category name already exists
        500:
          description: Server error
    delete:
      tags: [service-categories]
      summary: Delete service category (admin)
      operationId: deleteServiceCategory
      security:
        - bearerAuth: []
      parameters:
        - name: categoryId
          in: path
          required: true
          type: string
      responses:
        200:
          description: Category deleted
          schema:
            type: object
            properties:
              message:
                type: string
        401:
          description: Unauthorized
        403:
          description: Forbidden  -  admin only
        404:
          description: Category not found
        409:
          description: Category in use by services
        500:
          description: Server error

  # ==================================================================
  #  SERVICE SUGGESTIONS
  # ==================================================================
  /v1/service-suggestions:
    get:
      tags: [service-suggestions]
      summary: Get service suggestions (paginated)
      operationId: getServiceSuggestionsPaginated
      description: Admin sees all suggestions; lounges see their own.
      security:
        - bearerAuth: []
      parameters:
        - name: page
          in: query
          type: integer
          minimum: 1
          default: 1
        - name: limit
          in: query
          type: integer
          minimum: 1
          maximum: 100
          default: 10
        - name: status
          in: query
          type: string
          enum: [pending, rejected, implemented]
          description: Filter by status
        - name: loungeId
          in: query
          type: string
          description: Filter by lounge (admin only)
      responses:
        200:
          description: Suggestions retrieved
          schema:
            type: object
            properties:
              suggestions:
                type: array
                items:
                  $ref: '#/definitions/ServiceSuggestionResponse'
              pagination:
                $ref: '#/definitions/Pagination'
        401:
          description: Unauthorized
        500:
          description: Server error
    post:
      tags: [service-suggestions]
      summary: Create service suggestion (lounge)
      operationId: createServiceSuggestion
      description: Lounge owners can suggest new services for the catalog.
      security:
        - bearerAuth: []
        - csrfToken: []
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateServiceSuggestionDto'
      responses:
        201:
          description: Suggestion created
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/ServiceSuggestionResponse'
              message:
                type: string
        400:
          description: Validation error
        401:
          description: Unauthorized
        403:
          description: Forbidden  -  lounge only
        500:
          description: Server error

  /v1/service-suggestions/stats:
    get:
      tags: [service-suggestions]
      summary: Get suggestion statistics (admin)
      operationId: getServiceSuggestionsStats
      description: Aggregate stats about suggestions (counts by status, etc.).
      security:
        - bearerAuth: []
      responses:
        200:
          description: Stats retrieved
          schema:
            type: object
            properties:
              data:
                type: object
              message:
                type: string
        401:
          description: Unauthorized
        403:
          description: Forbidden  -  admin only
        500:
          description: Server error

  /v1/service-suggestions/{suggestionId}:
    get:
      tags: [service-suggestions]
      summary: Get suggestion by ID
      operationId: getServiceSuggestionById
      security:
        - bearerAuth: []
      parameters:
        - name: suggestionId
          in: path
          required: true
          type: string
      responses:
        200:
          description: Suggestion retrieved
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/ServiceSuggestionResponse'
              message:
                type: string
        401:
          description: Unauthorized
        404:
          description: Suggestion not found
        500:
          description: Server error
    put:
      tags: [service-suggestions]
      summary: Update suggestion (lounge)
      operationId: updateServiceSuggestion
      description: Lounge owners can update their own pending suggestions.
      security:
        - bearerAuth: []
        - csrfToken: []
      parameters:
        - name: suggestionId
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateServiceSuggestionDto'
      responses:
        200:
          description: Suggestion updated
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/ServiceSuggestionResponse'
              message:
                type: string
        400:
          description: Validation error
        401:
          description: Unauthorized
        403:
          description: Forbidden  -  lounge only / not your suggestion
        404:
          description: Suggestion not found
        500:
          description: Server error
    delete:
      tags: [service-suggestions]
      summary: Delete suggestion
      operationId: deleteServiceSuggestion
      description: Lounges can delete their own; admins can delete any.
      security:
        - bearerAuth: []
        - csrfToken: []
      parameters:
        - name: suggestionId
          in: path
          required: true
          type: string
      responses:
        200:
          description: Suggestion deleted
          schema:
            type: object
            properties:
              message:
                type: string
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Suggestion not found
        500:
          description: Server error

  /v1/service-suggestions/{suggestionId}/status:
    patch:
      tags: [service-suggestions]
      summary: Update suggestion status (admin)
      operationId: updateServiceSuggestionStatus
      description: |
        Admin updates suggestion status. When set to `implemented`, optionally
        auto-creates the service and lounge service.
      security:
        - bearerAuth: []
        - csrfToken: []
      parameters:
        - name: suggestionId
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateServiceSuggestionStatusDto'
      responses:
        200:
          description: Status updated (with optional created service)
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  suggestion:
                    $ref: '#/definitions/ServiceSuggestionResponse'
                  service:
                    $ref: '#/definitions/ServiceResponse'
                  loungeService:
                    $ref: '#/definitions/LoungeServiceResponse'
              message:
                type: string
        400:
          description: Validation error
        401:
          description: Unauthorized
        403:
          description: Forbidden  -  admin only
        404:
          description: Suggestion not found
        500:
          description: Server error

  /v1/service-suggestions/{suggestionId}/admin-approve:
    patch:
      tags: [service-suggestions]
      summary: Admin approve and implement suggestion
      operationId: adminApproveServiceSuggestion
      description: |
        Approves a suggestion and automatically creates a catalog service and lounge service.
        Admin may provide a custom service name.
      security:
        - bearerAuth: []
        - csrfToken: []
      parameters:
        - name: suggestionId
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AdminApproveServiceSuggestionDto'
      responses:
        200:
          description: Approved and implemented
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  suggestion:
                    $ref: '#/definitions/ServiceSuggestionResponse'
                  service:
                    $ref: '#/definitions/ServiceResponse'
                  loungeService:
                    $ref: '#/definitions/LoungeServiceResponse'
              message:
                type: string
        400:
          description: Validation error
        401:
          description: Unauthorized
        403:
          description: Forbidden  -  admin only
        404:
          description: Suggestion not found
        409:
          description: Service already exists
        500:
          description: Server error

  # ==================================================================
  #  BOOKINGS
  # ==================================================================
  /v1/bookings:
    post:
      tags: [bookings]
      summary: Create a booking
      operationId: createBooking
      description: Create a scheduled appointment booking with selected services.
      security:
        - bearerAuth: []
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateBookingDto'
      responses:
        201:
          description: Booking created
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/Booking'
              message:
                type: string
                example: "Booking created successfully"
        400:
          description: Validation error
        401:
          description: Unauthorized
        500:
          description: Server error
    get:
      tags: [bookings]
      summary: Get all bookings
      operationId: getAllBookings
      description: |
        Clients see their bookings, lounges see their lounge's bookings, admins see all.
      security:
        - bearerAuth: []
      responses:
        200:
          description: Bookings retrieved
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/Booking'
              count:
                type: integer
              message:
                type: string
        401:
          description: Unauthorized
        500:
          description: Server error

  /v1/bookings/queue:
    post:
      tags: [bookings]
      summary: Create a queue booking (walk-in)
      operationId: createQueueBooking
      description: |
        Create a walk-in booking for a client that goes directly to the agent's queue.
        Sets booking date to today and status to `inQueue`.
      security:
        - bearerAuth: []
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateQueueBookingDto'
      responses:
        201:
          description: Queue booking created
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/Booking'
              message:
                type: string
        400:
          description: Validation error
        401:
          description: Unauthorized
        500:
          description: Server error

  /v1/bookings/queue/lounge:
    post:
      tags: [bookings]
      summary: Create lounge queue booking (walk-in visitor)
      operationId: createLoungeQueueBooking
      description: |
        Lounge creates a queue booking for a walk-in visitor who may not have an account.
        Supports optional visitor name, phone, and email.
      security:
        - bearerAuth: []
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateLoungeQueueBookingDto'
      responses:
        201:
          description: Lounge queue booking created
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/Booking'
              message:
                type: string
        400:
          description: Validation error
        401:
          description: Unauthorized
        500:
          description: Server error

  /v1/bookings/availability:
    get:
      tags: [bookings]
      summary: Get agent availability
      operationId: getAgentAvailability
      description: |
        Returns unavailable time slots for specified agents plus lounge opening hours.
        Use this to find free slots for booking.
      security:
        - bearerAuth: []
      parameters:
        - name: agentIds
          in: query
          required: true
          type: string
          description: Comma-separated agent IDs
          example: "507f1f77bcf86cd799439011,507f1f77bcf86cd799439012"
      responses:
        200:
          description: Availability retrieved
          schema:
            type: object
            properties:
              success:
                type: boolean
              data:
                type: object
                properties:
                  unavailableSlots:
                    type: array
                    items:
                      type: object
                      properties:
                        date:
                          type: string
                          format: date
                          example: "2026-02-21"
                        unavailableTimes:
                          type: array
                          items:
                            type: string
                          example: ["09:00", "09:30", "10:00"]
                  loungeOpeningHours:
                    $ref: '#/definitions/WeekOpeningHours'
              message:
                type: string
        400:
          description: Agent IDs required
        401:
          description: Unauthorized
        500:
          description: Server error

  /v1/bookings/history:
    get:
      tags: [bookings]
      summary: Get booking history
      operationId: getBookingHistory
      description: Retrieve past bookings (completed/cancelled) for the current user.
      security:
        - bearerAuth: []
      responses:
        200:
          description: Booking history retrieved
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/Booking'
              count:
                type: integer
              message:
                type: string
        401:
          description: Unauthorized
        500:
          description: Server error

  /v1/bookings/{id}:
    get:
      tags: [bookings]
      summary: Get booking by ID
      operationId: getBookingById
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          type: string
      responses:
        200:
          description: Booking retrieved
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/Booking'
              message:
                type: string
        401:
          description: Unauthorized
        403:
          description: Access denied
        404:
          description: Booking not found
        500:
          description: Server error
    put:
      tags: [bookings]
      summary: Update booking
      operationId: updateBooking
      description: |
        Clients can cancel their own bookings and update notes.
        Lounges/admins have full update access.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateBookingDto'
      responses:
        200:
          description: Booking updated
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/Booking'
              message:
                type: string
        400:
          description: Validation error
        401:
          description: Unauthorized
        403:
          description: Insufficient permissions
        404:
          description: Booking not found
        500:
          description: Server error
    delete:
      tags: [bookings]
      summary: Delete booking (admin)
      operationId: deleteBooking
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          type: string
      responses:
        200:
          description: Booking deleted
          schema:
            type: object
            properties:
              message:
                type: string
        401:
          description: Unauthorized
        403:
          description: Forbidden  -  admin only
        404:
          description: Booking not found
        500:
          description: Server error

  /v1/bookings/stats/client/{clientId}:
    get:
      tags: [bookings]
      summary: Get client booking stats
      operationId: getClientBookingStats
      security:
        - bearerAuth: []
      parameters:
        - name: clientId
          in: path
          required: true
          type: string
      responses:
        200:
          description: Stats retrieved
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/BookingStats'
              message:
                type: string
        401:
          description: Unauthorized
        500:
          description: Server error

  /v1/bookings/stats/lounge/{loungeId}:
    get:
      tags: [bookings]
      summary: Get lounge booking stats
      operationId: getLoungeBookingStats
      security:
        - bearerAuth: []
      parameters:
        - name: loungeId
          in: path
          required: true
          type: string
      responses:
        200:
          description: Stats retrieved
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/BookingStats'
              message:
                type: string
        401:
          description: Unauthorized
        500:
          description: Server error

  # ==================================================================
  #  QUEUES
  # ==================================================================
  /v1/queues/agent/{agentId}:
    get:
      tags: [queues]
      summary: Get agent queue
      operationId: getQueueByAgent
      description: Get the queue for a specific agent. Defaults to today; use `?date=YYYY-MM-DD` for other dates.
      security:
        - bearerAuth: []
      parameters:
        - name: agentId
          in: path
          required: true
          type: string
        - name: date
          in: query
          type: string
          format: date
          description: Date to query (defaults to today)
      responses:
        200:
          description: Queue retrieved
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/Queue'
              message:
                type: string
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Queue not found
        500:
          description: Server error

  /v1/queues/lounge/{loungeId}:
    get:
      tags: [queues]
      summary: Get all queues for a lounge
      operationId: getQueuesByLoungeId
      security:
        - bearerAuth: []
      parameters:
        - name: loungeId
          in: path
          required: true
          type: string
        - name: date
          in: query
          type: string
          format: date
      responses:
        200:
          description: Lounge queues retrieved
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/Queue'
              count:
                type: integer
              message:
                type: string
        401:
          description: Unauthorized
        500:
          description: Server error

  /v1/queues/lounge:
    get:
      tags: [queues]
      summary: Get queues for authenticated lounge
      operationId: getQueuesByAuthLounge
      security:
        - bearerAuth: []
      parameters:
        - name: date
          in: query
          type: string
          format: date
      responses:
        200:
          description: Lounge queues retrieved
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/Queue'
              count:
                type: integer
              message:
                type: string
        401:
          description: Unauthorized
        403:
          description: Forbidden  -  lounge only
        500:
          description: Server error

  /v1/queues/agent/{agentId}/persons:
    post:
      tags: [queues]
      summary: Add person to queue
      operationId: addPersonToQueue
      description: Add a booking (person) to an agent's queue. Booking must have `inQueue` status.
      security:
        - bearerAuth: []
        - csrfToken: []
      parameters:
        - name: agentId
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
[...]
